<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Bookmarklets!</h1>
    <p>
      <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='//localhost:5000/static/bookmarklet.js';})();">Add Fantasy Stats</a>
    </p>
    <p>
      <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='//localhost:5000/static/points_bookmarklet.js';})();">Calculate Roster Value</a>
    </p>
  </body>
</html>
